# Python / Backend
backend/venv/
.venv/
backend/__pycache__/
*.pyc
backend/serviceAccountKey.json


# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Models and Datasets
backend/training_data/
*.pkl
*.csv
*.zip

# Secrets
.env
backend/.env
backend/serviceAccountKey.json
*serviceAccountKey*.json
